<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <title>新建商品</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all" th:href="@{/layuiadmin/layui/css/layui.css}" >
    <link rel="stylesheet"  href="../../../layuiadmin/style/admin.css" media="all" th:href="@{/layuiadmin/style/admin.css}" >
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body" style="padding: 15px;">
            <form class="layui-form" action="" lay-filter="form1">
                <div class="layui-form-item">
                    <label class="layui-form-label">商家用户名</label>
                    <div class="layui-input-block">
                        <select data-placeholder="请选择商家用户名"  id="merchantId" name="mname"  class="form-control chosen-select"  required >
                            <option   value=null selected>请选择商家</option>
                            <option   th:each="merchant:${merchantList}" th:value="${merchant.loginname}"  th:text="${merchant.loginname}" ></option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">客户用户名</label>
                    <div class="layui-input-block">
                        <select data-placeholder="请选择商品"  id="consumerId" name="cname"  class="form-control chosen-select"  required >
                            <option    value=null selected>请选择客户</option>
                            <option   th:each="consumer:${consumerList}" th:value="${consumer.loginname}"  th:text="${consumer.loginname}" ></option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">商品名称</label>
                    <div class="layui-input-block">
                        <select data-placeholder="请选择商品"  id="productId" name="pname"  class="form-control chosen-select"  required >
                            <option     value=null selected>请选择商品</option>
                            <option   th:each="product:${productList}" th:value="${product.pname}"  th:text="${product.pname}" ></option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">地址</label>
                    <div class="layui-input-block">
                        <input type="text" name="addr" lay-verify="addr" autocomplete="off" placeholder="请输入地址" class="layui-input"  >
                    </div>
                </div>


                <div class="layui-form-item layui-layout-admin">
                    <div class="layui-input-block">
                        <div class="layui-footer" style="left: 0;">
                            <button class="layui-btn" lay-submit="" lay-filter="addConsumer_submit">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="../../../layuiadmin/layui/layui.js" th:src="@{/layuiadmin/layui/layui.js}"></script>
<script>
    layui.config({
        base: [('"'+@{/layuiadmin/}+'"')]
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form', 'laydate'], function(){
        var $ = layui.$
            ,admin = layui.admin
            ,element = layui.element
            ,layer = layui.layer
            ,laydate = layui.laydate
            ,form = layui.form;

        form.render(null, 'form1');



        /* 自定义验证规则 */
        form.verify({
        });

        /* 监听提交 */
        form.on('submit(addConsumer_submit)', function(data){
            var cname = data.field.cname;
            var pname = data.field.pname;
            var mname = data.field.mname;
            $.ajax({
                type: "POST",
                contentType:"application/json",
                url: "/addOrder?cname="+cname+"&mname="+mname+"&pname="+pname,
                data: JSON.stringify(data.field),
                success: function(msg){
                    if(msg["success"]){
                        var layer = parent.layer;
                        layer.msg("操作成功 ",{time:700},function () {
                            layer.closeAll();
                            parent.location.reload();
                        });
                    }
                    else{
                        var layer = parent.layer;
                        layer.msg("操作失败，有空选项",{time:700},function () {
                        });
                    }
                },
                dataType:"json"
            });
            return false;
        });
    });
</script>

<script type="text/javascript" th:inline="javascript">
    $().ready(function() {
        var single = [[${consumerId}]];
        $("#consumerId option[value= " + single + "]").prop("selected", true);
    });
</script>

</body>
</html>
